 @model List<Restaurant.Models.Restaurant.ViewModels.RestMenusModels>

@{
    ViewData["Title"] = "Home Page";
}

 
<div class="row">
    @foreach (var rest in Model)
    {
        var routeDate = new Dictionary<string, string>()
{
            { "id", rest.Id.ToString() },
            { "RestId", rest.RestId.ToString() }
        };

<div class="col-md">
    <div class="card" style="width: 18rem; padding:10px">
        <img src="~/images/@rest.ImageName" style="width:230px; height:100px; align-self:center" class="card-img-top" alt="@rest.ImageName">
        <div class="card-body">
            <h6 class="card-title">Имя:@rest.Name</h6>
            <pre class="card-subtitle"><b>Цена:</b> @rest.Price</pre>
            <pre class="card-subtitle"><b>Время приготовления:</b> @rest.CoocingTime</pre>
            <pre class="card-subtitle"><b>Состав:</b> @rest.Composition</pre>
            <pre class="card-subtitle"><b>Описание:</b> @rest.Description</pre>

            <a asp-action="Details" asp-controller="RestMenus" asp-route-id="@rest.Id" class="btn btn-warning"> <span class="glyphicon glyphicon-shopping-cart"></span>Подробно</a>


            <a class="btn btn-success" asp-controller="ShopCart" asp-action="AddToCart" asp-all-route-data="routeDate"  >В корзину </a>
            @*asp-route-id="@rest.Id"*@

        </div>
    </div>
</div>
}
</div>
