@model List<Restaurant.Models.Restaurant.ViewModels.RestInfoModels>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .col-md {
        margin-bottom: 25px !important;
    }
</style>
@*@{var kitch = ""; }*@
@{var kitch = new Dictionary<string, string>(); }

@*<h3>@ViewBag.Message</h3>*@
<div>
    @foreach (var rest in Model)
    {

        var routeDate = new Dictionary<string, string>()
{
                     //{ "id", rest.Id.ToString() },
                  { "Kitchen", rest.Kitchen.ToString() }
             };
        kitch = routeDate;

    }
    <ul class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <li class="navbar-nav">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home"   asp-action="Index">Все рестораны</a>
        </li>
        &nbsp;&nbsp;&nbsp
        <li class="navbar-nav">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Национальная кухня</a>
        </li>

    </ul>


    @*}*@

</div>
<div class="row">
    @foreach (var rest in Model)
    {
        @*<div>
               <li class="navbar-nav">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-route-id="@rest.Kitchen" asp-action="TurkKitchen">Турецкая кухня</a>
            </li>
                </div>*@
        var routeDate = new Dictionary<string, string>()
{
        { "id", rest.Id.ToString() },
        //{ "Kitchen", rest.Kitchen }
    };


<div class="col-md">
    <div class="card" style="width: 18rem; padding:10px;">
        <img src="~/images/@rest.ImageName" style="width:250px; height:120px; align-self:center" class="card-img-top" alt="@rest.ImageName">
        <div class="card-body">
            <h5 class="card-title">Имя:@rest.RestName</h5>
            <pre class="card-subtitle"><b>Кухня:</b>@rest.Kitchen</pre>
            <pre class="card-subtitle"><b>Описание:</b>@rest.Description</pre>
            <a asp-action="GetMenu" asp-controller="Home" asp-all-route-data="routeDate" class="btn btn-success">Выбрать</a>
            <a asp-action="Details" asp-controller="Restaurant" asp-route-id="@rest.Id" class="btn btn-primary">Details</a>
            @*ffdf = @rest.Kitchen*@
            @*<a href="~/Movie/Details/?id=@movie.Id.ToString()&category=@movie.CategoryId" class="btn btn-dark">Download</a>*@
        </div>
    </div>
</div>
@*<h3 class="text-success">@ViewBag.Message</h3>*@

}
</div>
