@model  ShopCartmodels
<div class="container">
    @foreach (var el in Model.shopCart.listShopItems)
    {
    <div class="alert alert-warning mt-3">
        <b>Имя</b> @el.RestMenu.Name <br />
        <b>Цена:</b> @el.RestMenu.Price.ToString("c") <br />
        <b>Количество:</b> @el.Quantity<br />
        <b>Общ.Сумма:</b> @el.Total.ToString("c")<br />
    </div>
        //<b>total:</b>@el.Price * @el.Price;

    }
    @*<b>total:</b>@Model.shopCart.listShopItems.Count * @Price*@

    <hr />
    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Заказать</a>
</div>
