@model ShopCartmodels
  
    <div class="container">
        <table class="table">
           @* @ViewBag.Message*@

            <thead>
                <tr>

                    <th>
                        Имя
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Общая Сумма
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.shopCart.listShopItems)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.RestMenu.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RestMenu.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTotal)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>


                }

            <tr class="table-success">
                @*<td></td>*@
                <td></td>
                <td> </td>
                <td>Total:</td>
                <td>@Model.shopCart.listShopItems.Sum(x => x.SubTotal)</td>
               
                @if (@ViewBag.Message == null)
                {
                    <td>
                        <a class="btn btn-success float-lg-right" asp-controller="Order" asp-action="Checkout">Заказать</a>
                    </td>
                }
                else
                {
                     <div class="text-danger">
                      @ViewBag.Message
                </div>
                    }

</tr>

            </tbody>

        </table>
        <div>

 
        </div>
    </div>



