@*@model Restaurant.Models.Restaurant.RestMenu*@
@model Restaurant.Models.Restaurant.ViewModels.RestMenusModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>RestMenu</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Composition)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Composition)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CoocingTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CoocingTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InsertDataTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InsertDataTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RestName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RestName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
        </dl>
        <hr>
        <div class="row">
            <div class="col">
                <img id="movie-img" src="~/images/@Model.ImageName" alt="@Model.ImageName" style="max-height:100px" />
            </div>
            @*<div>
                <button data-movie-id="@Model.Id" data-image-name="@Model.ImageName" id="remove-img-btn" class="btn btn-sm btn-danger">Delete image</button>
            </div>*@
        </div>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
